.modal-clever {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  outline: 0;
  pointer-events: none;
  z-index: 999;
  transition: 200ms ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;

    & .modal-clever-content {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.modal-clever-content {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 90vh;
  max-width: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 20px;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}

.modal-header {
  padding: 16px 32px;
}

.modal-body {
  flex: 1;
  overflow: auto;
  padding: 16px 32px;
}

.modal-footer {
  padding: 16px 32px;
}

// .modal-header + .modal-body {
//   border-top: 1px solid rgba(0, 0, 0, 0.12);
// }



