.modal-clever {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  outline: 0;
  pointer-events: none;
  z-index: 999;

  &.show {
    pointer-events: all;
    animation: fadeInOpacity 0.2s forwards;

    & .modal-clever-content {
      animation: fadeIn 0.2s forwards;
    }
  }

  &.hide {
    animation: fadeOutOpacity 0.2s forwards;
    pointer-events: none;

    & .modal-clever-content {
      animation: fadeOut 0.2s forwards;
    }
  }
}

.modal-clever-content {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 95vh;
  max-width: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 20px;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}